<launch>
  <node name="state_observer_node" pkg="state_estimation" type="state_observer_node" output="screen" required="true">
    <rosparam command="load" file="$(find state_estimation)/cfg/iris_sitl_parameters.yaml"/>
    <rosparam command="load" file="$(find state_estimation)/cfg/observer_parameters.yaml"/>
  </node>
</launch>
